doctype html
html(lang='en')
    head
        title= title
        link(rel='stylesheet', href='#{meta.base}/assets/vendor.css')
        link(rel='stylesheet', href='#{meta.base}/assets/style.css')
        //- script(src='#{meta.base}/assets/index.js')
    body
        nav#nav
                section
                    a.title(href='#') Top
                section
                    a.title(href='#overview') API list
                    ul
                        for api in collections.api
                            li
                                a(href='##{api.id}')= api.title
        section#main
            section.hero
                h1
                    a(href='/', title='Carcass')
                        img(src='#{meta.base}/assets/images/logo.png', alt='Carcass')
                != contents
            section.details
                for api in collections.api
                    h2(id='#{api.id}')
                        a(href='##{api.id}')= api.title
                    != api.contents
