doctype html
html(lang='en')
    head
        title= title
        link(rel='stylesheet', href='#{meta.base}/assets/vendor.css')
        link(rel='stylesheet', href='#{meta.base}/assets/style.css')
        script(src='#{meta.base}/assets/vendor.js')
    body(data-spy='scroll', data-target='#nav')
        nav#nav
            section
                a.title(href='#') Top
            section
                a.title(href='#api') API list
                ul.nav
                    for api in collections.api
                        li
                            a(href='##{api.id}')= api.title
        section#main
            section.hero
                h1
                    a(href='#{meta.base}/', title='Carcass')
                        img(src='#{meta.base}/assets/images/logo.png', alt='Carcass')
                != contents
            section.details
                a#api(href='#api')
                for api in collections.api
                    h2(id='#{api.id}')
                        = api.title
                        a(href='##{api.id}')
                    != api.contents
